<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
</head>

<body class="background ">
    <header class=" sticky top-0 ">
        <div class="">
            <div class="w-full flex flex-row items-center px-8 py-1 md:py-3 justify-between navber shadow"
                style="height: 80px;">
                <!-- nav-menu -->
                <div class="">
                    <nav
                        class="navbar z-20 overflow-auto h-screen scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray scrolling-touch lg:max-h-sm">
                        <div class="hamburger-menu">
                            <div class="line line-1"></div>
                            <div class="line line-2"></div>
                            <div class="line line-3"></div>
                        </div>
                        <!-- list -->
                        <ul class="nav-list">
                            <li class="nav-item"><a href="#Home" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="#Skills" class="nav-link">Skills</a></li>
                            <li class="nav-item"><a href="#Portfolio" class="nav-link">Portfolio</a></li>
                            <li class="nav-item"><a href="#Blog" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="#Contact" class="nav-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Logo -->
                <div class="">
                    <a href="#Home" class=" text-2xl logo ">Me</a>
                </div>
                <!-- search -->
                <div class=" flex">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </header>
    <main class=" h-screen">
        <!--===== HOME =====-->
        <section class=" w-full h-screen home">
            <div class="mt-20">
                <div class="flex ">
                    <div class="w-1/2 h-full flex justify-center items-center">
                        <div class="home__title title text-6xl uppercase inline-block ">
                            <h1>Hello,</h1>
                            <h1>Everyone</h1>
                        </div>
                    </div>
                    <div class="w-1/2 h-full flex justify-center items-center">
                        <div class="">
                            <img class="home__img w-64 h-64 border-indigo-500 hover:border-indigo-700 border-4 border-collapse rounded-full"
                                src="../images/icons/profile.svg" alt="perfil">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--===== ABOUT =====-->
        <section class=" w-full h-screen" id="about">

            <h2 class=" text-3xl title flex justify-center ">About</h2>
            <div class="flex ">
                <div class="w-1/2 h-full home flex justify-center items-center">
                    <div class="about__img">
                        <img class=" w-64 h-64 border-indigo-500 hover:border-indigo-700 border-4 border-collapse rounded-full"
                            src="../images/icons/profile.svg" alt="perfil">
                    </div>
                </div>
                <div class="w-1/2 h-full flex justify-center items-center ">
                    <div>
                        <h2 class="about__subtitle text-indigo-600">I'am Jhon Doe</h2>
                        <span class="about__profession text-gray-400">Web designer</span>
                        <p class="about__text text-purple-200">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Adipisci
                            consectetur, architecto quas fugiat, iste inventore facere repellendus delectus id, vitae
                            blanditiis.</p>

                        <div class="about__social">
                            <a href="#" class="about__social-icon"><i class='fas fa-linkedin'></i></a>
                            <a href="#" class="about__social-icon"><i class='fas fa-github'></i></a>
                            <a href="#" class="about__social-icon"><i class='fas fa-dribbble'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


</body>

</html>